@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@font-face {
    font-family: "Android" ;
    src: url(../fontes/idroid.otf) format(opentype);
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --font-android: "Android", cursive;
    --font-destaque: "Bebas Neue", cursive;
    --font-padrão: Verdana, Arial, Helvetica, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--cor0) ;
    font-family: var(--font-padrão);
}
header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height: 120px;
    padding: 10px;
    text-align: center;
}
header>h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 10px;
    font-size: 3.0em;
    text-shadow: 2px 2px 0px #0000005a;
}
header>p{
    color: white;
    max-width: 400px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10;
    font-family: var(--font-padrão);
    font-size: 1.2em;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000049;
}
nav>a{
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;

}
nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 4px;
    transition-duration: .6s;
}

main{
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 20px #0000003f;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
 a.externo::after{
    content:"\1F517" ;
}
main img.img-pequena{
    display: block;
    max-width: 200px;
    margin: auto;
}


div.video{
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px;
    padding-bottom: 58%;
    position: relative;
    box-shadow: -3px  10px 10px #00000043;
}
div.video> iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
}
main p{
    text-indent: 20px;
    padding: 10px;
    line-height: 2em;
    text-align: justify;

}
main strong{
    font-weight: bolder;
    color: var(--cor5);
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor4);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor6);
}
aside{
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 3px 3px 8px #00000051;
    
}
aside ul{
    list-style-position: inside;
    list-style-type:"\1F5F9";
    columns:2;
}
aside h3{
    color: white;
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
footer{
    color: white;
    background-color: var(--cor6);
    font-size: 1em;
    height: 100px;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
}
footer >p>a{
    text-decoration: none;
    color: var(--cor1);
}
footer a:hover{
    text-decoration: underline;
    transition-duration: 0.5s;
    color: var(--cor3);

}